CRMANIFEST.MF
CrashAndBugReport.jar
MANIFEST.MF
StarMade-dedicated-server-linux.sh
StarMade-dedicated-server-macosx.command
StarMade-dedicated-server-windows.bat
StarMade.jar
blueprints-default/
blueprints-stations/
blueprints/
customBlockTextures/
data/
language/
lib/
logs/
native/
sector-bulk-export-import-example.txt
server-database/
third-party/
version.txt
