BLUEPRINTS_BACKUP_CHUNK16_blueprints.zip
CRMANIFEST.MF
CrashAndBugReport.jar
MANIFEST.MF
StarMade-dedicated-server-linux.sh
StarMade.jar
admins.txt
blacklist.txt
blockBehaviorConfigMergeResult.xml
blueprints-default/
blueprints-stations/
blueprints/
data/IcoVectors.bin
data/META-INF/
data/SkinningResources/
data/audio-resource/
data/config/BACKUP/
data/config/BlockTypes.properties
data/config/FactionConfig.xml
data/config/GameConfigDefault.xml
data/config/animationDocumentation.txt
data/config/customBlockBehaviorConfigHOWTO.txt
data/config/customBlockBehaviorConfigTemplate.xml
data/config/customConfigTemplate/
data/config/customFactionConfigHOWTO.txt
data/config/defaultSettings/
data/config/gui/
data/config/logbookEntriesGen.txt
data/config/mainConfig.xml
data/config/physics.userdatatypes.xml
data/config/revertBehaviorConfig.xml
data/config/systemNames.syl
data/config/tipps.txt
data/config/vertexInfo.properties
data/config/vertexInfo.properties.bkup
data/effects/
data/font/
data/image-resource/
data/language/
data/mac.jar
data/models/
data/npcFactions/
data/prefabBlueprints/
data/script/
data/shader/
data/sky/
data/sphereExplosionData.zip
data/textures/
data/tutorial/
data/video/
data/watermaps/
debugPlayerLock.lock
language/
lib/
logs/
lpversion
native/
output.log
protected.txt
sector-bulk-export-import-example.txt
server-database/
server-message.txt
server-skins/
settings.cfg
third-party/
version.txt
whitelist.txt
